*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: aqua;
}

#navbar img{
width: auto;
height: 50px;
border-radius: 30%;
}

#navbar ul li{
    list-style: none;
    margin: 15px 20px;
    font-size: 20px;
    cursor: pointer;
    text-transform: capitalize;
}

#navbar ul li a:hover{
    color: rgb(255, 0, 212);
}

#navbar ul li a{
    text-decoration: none;
    color: black;
}
#navbar ul{
    display: flex;
}

#home{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    margin-bottom: 30px;
}
#home img{
    height: 400px;
    width: auto;
    border-radius: 50%;
    margin-top: 30px;
}
#home #home_content{
    margin-top: 100px;
}

#home #home_content h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#home #home_content span{
    color: aqua;

}
#home #home_content p{
    font-size: 17px;
    margin-bottom: 30px;
    width: 60%;
}
#home #home_content button{
    padding: 10px 20px;
    background: rgb(9, 212, 212);
    border-radius:10%;
    outline:none;
    border:none;
    font-size: 17px;
    font-weight: 700;
}

#home #home_content button:hover{
    background-color: rgb(0, 255, 255);
}

#home #home_content button a{
    text-decoration: none;
    color: black;
}
#github_btn{
    margin-left: 30px;
}

        #information{
            background-color: aqua;
        display: flex;
        width: 90%;
        height: 100%;
        padding: 40px;
        margin: 0px auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
        margin-top: 30px;
    }
    #about_h1{
        text-align: center;
        font-size: 50px;
        margin: 20px;
    }
    #about h1{
        font-size: 35px;
        text-transform: capitalize;

    }
    #about p{
        text-align: justify;
        margin-top: 30px;
        font-size: 17px;
    }

    #skill{
        margin-top: 40px;
        padding: 30px;
    }
    #skill h1{
        font-size: 40px;
        margin-bottom: 30px;
    }

    #about{
        margin-left: 15%;
        width: 50%;
    }

    #inform{
        margin-left: 5%;
    }

    .progress progress{
        width: 200px;
        height: 15px;
        margin: 3px;
        background-color: rgb(207, 7, 147);
    }
    .progress span{
     font-size: 18px;
    }
    img{
    width: 100%;
    height: 100vh;
    }
    
    #information div img{
        /* width: 30px; */
        height:200px;
        border-radius: 20%;
    }
    #profile{
        display: flex;
    }
    #profile #profile-h1{
        margin: 20px;
    }

    #profile #profile-h1 h1{
        margin-top: 10px;
        font-weight: 100;
        font-size: 20px;
        margin-left: 20px;
    }
    #profile #profile-h1 h1 span{
font-weight: 900;
    }

    #about_section{
        margin-top: 30px;
    }
#Contact_info h1{
text-align: center;
font-size: 50px;
margin: 40px 0;
}


#portfolio img{
    height: 100px;
    width: 100px;
}
.card div img{
    width: 100%;
    border-radius: 40%;
}

#portfolio{
    text-align: center;
    margin-top: 20px;
}
#portfolio h1{
    font-size: 50px;
}
.card{
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    padding: 20px;
    background-image: linear-gradient(to right,dodgerblue,aqua,dodgerblue);
    margin: 5px;
    border-radius: 20px;
    /* margin: 0 auto; */
    margin-top: 40px;
    transition: 0.6s ease-in-out;
}

.card:hover{
    background-image: linear-gradient(to right,aqua,dodgerblue,aqua);
    transition: 0.6s ease-in-out;
    transform: scale(1.2);


}
.card h4{
    margin-top: 20px;
}
.card p{
margin-top: 15px;
}
.card button{
    padding: 7px 20px;
    margin-top: 20px;
    background-image: linear-gradient(to right,red,yellow);
    border: none;
    border-radius:10%;
    transition: .6s;
}
.card button:hover{
    background-image: linear-gradient(to right,green,yellow);

}
#card-container {
display: flex;
justify-content: space-around;
margin-bottom: 40px;
}

















#input {
    text-align: center;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);   
    margin: 0px auto;
}

    #input h1{
        font-size: 50px;
        text-transform: capitalize;
        margin-bottom: 30px;
    }
    #input{
        background-color: aqua;
    }
    #input form div label{
        font-size: 20px;
    
    }
    #input form div input{
        width: 250px;
        height: 40px;
        border-radius: 5px;
        outline: none;
        padding: 7px 7px;
        margin-bottom: 30px;
        margin-top: 6px;
    }
    form h4{
        text-decoration: underline;
        cursor: pointer;
    }
    form {
        margin-top: 30px;
        
        padding:50px;
    }
    form button{
        width: 250px;
        height: 40px;
        margin-top: 20px;
        border-radius: 4px;
        outline: none;
        border: none;
        color: white;
        background-color: rgb(0, 0, 0);
        font-size: 17px;
    }
    form button:hover{
        background-color: rgb(48, 58, 68);
    }
    #icon{
        height:200px;
    }
    #icon a i{
        margin: 30px;
        margin-top: 30px;
        font-size: 45px;
        color: black;
    }
    #icon a i:hover{
        color: blue;
    }
    #icon h2{
        font-size: 30px;
        text-transform: capitalize;
 }

 footer{ 
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    height: 100px;
    width:100%;
    background-color: rgb(145, 255, 0);
    padding-top: 40px;
 }